# Text Classification using NLP

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\Priti\Downloads\Assignment-2\Data\TestParam.csv")
data.head()

,label,param0,param1,param2,param3,param4,param5,param6,param7,param8,...,param774,param775,param776,param777,param778,param779,param780,param781,param782,param783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
data.isnull().sum()

label       0
param0      0
param1      0
param2      0
param3      0
param4      0
param5      0
param6      0
param7      0
param8      0
param9      0
param10     0
param11     0
param12     0
param13     0
param14     0
param15     0
param16     0
param17     0
param18     0
param19     0
param20     0
param21     0
param22     0
param23     0
param24     0
param25     0
param26     0
param27     0
param28     0
           ..
param754    0
param755    0
param756    0
param757    0
param758    0
param759    0
param760    0
param761    0
param762    0
param763    0
param764    0
param765    0
param766    0
param767    0
param768    0
param769    0
param770    0
param771    0
param772    0
param773    0
param774    0
param775    0
param776    0
param777    0
param778    0
param779    0
param780    0
param781    0
param782    0
param783    0
Length: 785, dtype: int64

In [4]:
x=data.drop("label",axis=1)
y=data["label"]

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

# Multinomial Naive Bayes

In [6]:
from sklearn.naive_bayes import MultinomialNB
mnb=MultinomialNB()
mnb.fit(x_train,y_train)
pred=mnb.predict(x_test)
print(pred)

[8 1 9 ... 3 0 9]

In [7]:
mnb.score(x_test,y_test)

0.8275